
@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <title>Frontend Mentor | Four card feature section</title>
    <link rel="stylesheet" href="~/Content/square_profile/web/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
          rel="stylesheet">
</head>

<body>
    
    <div class="row1-container">
        <div class="box box-down cyan">
            <h2>İsim Soyisim</h2>
            <p>Burak Altın</p>
            <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
        </div>

        <div class="box red">
            <h2>Doğum Tarihi</h2>
            <p>12/10/22</p>
            <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
        </div>

        <div class="box box-down blue">
            <h2>Doğum Yeri</h2>
            <p>Beykoz / İstanbul</p>
            <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
        </div>
    </div>
    <div class="row2-container">
        <div class="box orange">
            <h2>Meslek</h2>
            <p>Öğrenci</p>
            <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
        </div>
    </div>
    
</body>

</html>

